version: "3.9"
services:
  couchdb:
    hostname: couchdb
    image: honoki/bbrf-server
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=admin  # please please please replace this with a secure password
      - BBRF_PASSWORD=bbrf # please please please replace this with a secure password
    volumes:
      - ./config/couchdb/local.ini:/etc/local.ini
      - ./data/couchdb/1:/opt/couchdb/data
      #- ./config/couchdb:/opt/couchdb/etc/local.d
  proxy:
    image: nginx
    hostname: proxy
    ports:
     - "443:443"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./proxy/docker-entrypoint.d/:/docker-entrypoint.d/
      - ./proxy/keys/:/etc/nginx/keys/
    depends_on:
      - couchdb